h1{
   color: rgb(245, 6, 173);
    text-align: center;
}
h2{
   color: rgb(172, 0, 134);
    font-style: oblique;
}
p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}
.imagem1 {
    width: 500 px;
    text-align: center;
}
.lista {
    display: inline-block;
    padding: 2% ;
    margin-right: 15%;
    font-size: medium;
}
nav a{
    text-transform: uppercase;
    color: rgb(228, 24, 136);
    font-weight: 300;
    font-size: 100%;
    text-decoration: none;
}

