h1{
    background-color: rgb(255, 0, 200);
    text-align: center;
}

    text-align:center;
    background-color: rgb(233, 176, 223);  

h2{
    background-color: rgb(111, 214, 255);
    font-style: oblique;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}
body {
    background-color: rgb(215, 184, 245);
}
.conceito {
    background-color: rgb(223, 182, 236)
    color: blueviolet
}
.dicas {
    background-color: rgba(243, 93, 243, 0.774)
}
.imagem1 {
    width: 500px;
}
.lista {
    display: inline-block;
    padding: 2%;
    margin-right: 15%;
    font-size: medium;
}
h3{
 text-align: LEFT;
}
